@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body{
    background-color: rgba(232, 233,239, 1);
     font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
#logo{
    display: block;
    width: 100px;
    margin: 0 auto;
}

#form-container{
    background-color: white;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: var(--shadow);
    border-radius: 8px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* room styling */

#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}
.video-player{
    width: 100%;
    height: 100%;
    object-fit: cover;      
    
}


/* room styling | controls */
#controls-wrapper{
    display: flex;
    justify-content: center;    
    width: 100%;
    position: fixed;    
    column-gap: 1em;
    bottom: 20px;

}

#leave-btn{
    background-color: rgba(255, 80, 80, 1);
    color: white;
}
.control-icon{
    height: 20px;
    width: 20px;    
    box-shadow: var(--shadow);  
    cursor: pointer;    
    background-color: white;
    padding: 8px;
    border-radius:5px;
}


/* lobby */

#welcome-message{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: rgba(75, 93, 172, 1);
} 
#welcome-message h1{ 
   font-size: 36px;
}
#welcome-message p{ 
   font-size: 18px;
}

.form-field{
    margin-bottom: 15px;
    
}
.form-field label{
   font-size: 16px;
    line-height: 1.7em;

}
.form-field input{
    width: 100%;
    border: 2px solid rgba(198, 202, 219, 1)    ;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}
.form-field input[type='submit']{
    background-color: rgba(75, 93, 172, 1);
    border: none;
    color: #fff;
}